@media (max-width:768px) {
    .toggle_btn {
        display: block;
    }

    .action_btn,
    .navbar .links {
        display: none;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width:576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}